---
layout: mainpage
---


  <div class="wrapper">
    <!-- <nav class="nav">
      <ul>
      </ul>
    </nav> -->

    <nav class="category">
      <ul>
        {% for cat in site.categories %}
          <li><a href="{{site.BASE_PATH}}/list.html">
              {% if {{cat[0]}} == "think" %}
                随想
              {% endif %}
              {% if {{cat[0]}} == "game" %}
                游戏
              {% endif %}
            <span>{{cat[1].size}}</span>
          </a></li>
        {% endfor %}
      </ul>
    </nav>

    <!-- <div class="search">
        <script>
          (function() {
            var cx = '005396502090792639255:1ay0qdj51vg';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
    </div> -->

    <section>

        <h2>Greeted!!</h2>
        <p>分享知识与技术的地方！！</p>

    </section>

    <footer>
      <p><span class="small">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span></p>
    </footer>

  </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
