<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Lydocan的博客</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../../../../assets/stylesheets/styles.css">
        <link rel="stylesheet" href="../../../../assets/stylesheets/pygment_trac.css">
        <link rel="stylesheet" href="../../../../assets/stylesheets/normalize.css">
        <script src="../../../../assets/javascripts/main.js"></script>
        
        <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
        <body>
            <header>
                <a href="">
                  <h1>Lydocan's Blog</h1>
                  <p>思源分享地</p>
                </a>
            </header>

            <div id="banner">
                <div class="banner-inner">
                <span id="logo"></span>

                <a href="https://github.com/Lydocan" class="button"><strong>我的Github链接</strong></a>
                    <div class="downloads">
                        <span>Downloads:</span>
                        <ul>
                            <li><a href="https://github.com/Lydocan/LydocanBlog/zipball/master" class="button">ZIP</a></li>
                            <li><a href="https://github.com/Lydocan/LydocanBlog/tarball/master" class="button">TAR</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end banner -->

            {{content}}
        </body>
</html>